.gitattributes
.idea
_ide_helper.php
.phpstorm.meta.php
/config/ide-helper.php
ckan-install/*.env
index.html
# Ignore everything in etc
/etc/*
# Ignore everything in lib
/lib/*
# Except lib/src/design
!/lib/src/design
# Ignore everything in stroage
/storage/*
# Ignore everything in supervisor
/supervisor/*